*
{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
background-color: #3C3633;
height:80px;
display: flex;
}
.header h1{
    color: white;
    font-size: 40px;
    padding-left:30px;
    padding-top: 18px;
}
.header img
{
    width:55px;
    height:55px;
    padding-left:70px;
    padding-top:13px;
}
.main
{
background-color: black;
height:800px;
}
.footer{
background-color: #3C3633;
height:80px;
}
@media(max-width:600px)
{
    .header h1{
        font-size:20px;
        padding-top: 28px;
        padding-left:25px;
    }
    .header img{
        width:50px;
        height:50px;
        padding-left:30px;
        padding-top:13px;
    }
}